.techfont{
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;

}

.custom-navbar{

}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.bigbrand{
  font-size: 1.5em;
}
